.App-body {
  color: black;
  min-height: 80vh;
  text-align: center;
}

.App {
  min-height: 100vh;
  text-align: center;
  font-family: sofia-pro, sans-serif;
  color: black;
}

* {
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.5s;
  list-style-type: none;
  text-decoration: none;
  font-family: "Nunito Sans", sans-serif;
}
.list {
  margin: 0;
  padding: 0;
  text-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
}

.btn-dash {
  margin-top: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
