.App-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: black;
  min-height: 80vh;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: sofia-pro, sans-serif;
  color: black;
}

* {
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.5s;
  list-style-type: none;
  text-decoration: none;
  font-family: "Shadows Into Light", cursive;
}
.list {
  margin: 0;
  padding: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
