.App-body {
  color: black;
  min-height: 70vh;
  text-align: center;
}
.ant-pagination {
  opacity: 0;
}
.App {
  min-height: 100vh;
  color: black;
  background-image: linear-gradient(185deg, #354966 10%, #63a2ff 100%);
}

* {
  list-style-type: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.logo {
  width: 100%;
  width: 250px;
  padding: 1%;
}
.list {
  margin: 0;
  padding: 0;
  text-align: center;
  align-self: center;
  align-content: center;
  align-items: center;
}

.tutorial {
  width: 100%;
  max-width: 355px;
}

.btn-dash {
  margin-top: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-memorial {
  margin-top: 2%;
  padding: 2%;
  width: 60%;
  margin-left: 20%;
  background-color: white;
  box-shadow: 0.5px 0.5px 15px rgb(80, 80, 80);
  text-align: justify;
}

@media only screen and (max-device-width: 1250px) {
  .container-memorial {
    margin-top: 2%;
    padding: 2%;
    width: 70%;
    margin-left: 15%;
    background-color: white;
    box-shadow: 0.5px 0.5px 15px rgb(80, 80, 80);
  }
}
@media only screen and (max-device-width: 700px) {
  .container-memorial {
    margin-top: 2%;
    padding: 2%;
    width: 70%;
    margin-left: 15%;
    background-color: white;
    box-shadow: 0.5px 0.5px 15px rgb(80, 80, 80);
  }
}
@media only screen and (max-device-width: 500px) {
  .container-memorial {
    margin-top: 2%;
    padding: 2%;
    width: 90%;
    margin-left: 5%;
    background-color: white;
    box-shadow: 0.5px 0.5px 15px rgb(80, 80, 80);
  }
}

.logos {
  text-align: center;
}
