.footer-comments {
  color: white;
  text-shadow: 2px 2px 15px black;
  text-decoration: none;
}

footer {
  padding-bottom: 20px;
  height: 10%;
  padding: 2%;
}

.icons-social a {
  color: white;
  font-size: 15pt;
  padding: 1%;
  float: right;
  text-shadow: 2px 2px 15px black;
}

.icons-social a:hover {
  color: gray;

  float: right;
}

.icons-social a svg path {
  fill: black;
}

.icons-social p {
  color: black;
  font-size: 15pt;
  padding: 1%;
  float: left;
  padding-top: 3%;
}

.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 5px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(255, 255, 255, 0.863) 0%,
    rgba(245, 245, 245, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(196, 196, 196, 0.863) 0%,
    rgba(245, 245, 245, 0) 80%
  );
  /* W3C */
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}
