.container {
  margin-top: 2%;
  padding-bottom: 2%;
  width: 20%;
  margin-left: 40%;
  position: flex;
  background-color: white;
  box-shadow: 0.5px 0.5px 15px rgb(80, 80, 80);
}

@media only screen and (max-device-width: 1250px) {
  .container {
    margin-top: 2%;
    padding-bottom: 2%;
    width: 33%;
    margin-left: 33%;
    position: flex;
    background-color: white;
    box-shadow: 0.5px 0.5px 15px rgb(80, 80, 80);
  }
}
@media only screen and (max-device-width: 700px) {
  .container {
    margin-top: 2%;
    padding-bottom: 2%;
    width: 50%;
    margin-left: 25%;
    position: flex;
    background-color: white;
    box-shadow: 0.5px 0.5px 15px rgb(80, 80, 80);
  }
}
@media only screen and (max-device-width: 500px) {
  .container {
    margin-top: 2%;
    padding-bottom: 2%;
    width: 80%;
    margin-left: 10%;
    position: flex;
    background-color: white;
    box-shadow: 0.5px 0.5px 15px rgb(80, 80, 80);
  }
}

.Form {
  margin: 2%;

  position: relative;
  z-index: 1;
  max-width: 360px;
  text-align: center;
}

.Form input {
  box-shadow: 0.5px 0.5px 15px rgb(80, 80, 80);
  border: 0px;
  height: 30px;
  position: flex;
  margin: 5%;
  text-align: center;
  border-radius: 2%;
}

.container h3 {
  padding-top: 5%;
  font-weight: bold;
}

.Form input:focus {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  width: 80%;
  border-radius: 10%;
}

.btn {
  padding: 10px;
  background-color: #f45567;
  width: 70%;
  border: 0px;
  box-shadow: 0.5px 0.5px 5px black;
  color: white;
  border-radius: 2%;
}

button:hover,
.btn:hover {
  background-color: #ebb3bb;
  box-shadow: 0 0 0 white;
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 1024px) {
  /*estilos*/
}

@media screen and (max-width: 500px) {
  /*estilos*/
}

@-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}
